.card {
    padding: 24px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card-header {
    display: flex;
    color: black;
    justify-content: start;
}

.card-footer {
    display: flex;
    color: blue;
    justify-items: auto;
    font-size: small;
}